html, body{
    margin:0;
    padding:0;
}

.myheader{
    position: relative;
    padding-right: 10.56%;
    padding-left: 10.56%;
}

.static_header{
    background: #f6f6f6;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10.56%;
    padding-left: 10.56%;

    a img{
        position: absolute;
        top:0;
    }
}

.static_wrapper{
    display: block;
    margin: 0 auto;
    text-align: right;

    a{
        margin-right: 13px;
    }

    .mysearch{
        display: inline-block;

        svg path{
            fill:gray;
        }
    }

    .link{
        font-family: CFAstyPro;
  font-size: 12.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  color:#4f4f4f;
  text-decoration: none;
    }
}

.navigation_wrapper{
    text-align: right;

    a{
        margin-right: 37px;
        font-family: CFAstyPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.21px;
  color: #000;
  text-decoration: none;
    }

    .donation{
        display: inline-block;
        margin-top: 41px;

        .donationbutton{
            margin: 0;
            color:#f79d65 ;
            padding: 15px 28px 12px 32px;
            border: solid 2px #f79d65;
            background:transparent;
        }
    }
}

.title{
    margin-top: 226px;
    margin-bottom: 128px;
}

.title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        font-family: CFAstyPro;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.32px;
  color:#222222;
  max-width: 560px;
    }
}

.main_title{
    margin: 0 0 15px;
  font-family: CFAstyPro;
  font-size: 48.8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.63px;
  color: #000;
}

.mytabs h2{
    margin: 0 64px 15px 0;
  font-family: CFAstyPro;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.26px;
  color: #000;
  display: inline-block;
}

.viewmore a{
    font-family: CFAstyPro;
  font-size: 12.8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  color: #fcaa67;
  text-decoration: none;
}

.article_image{
    position: relative;
}

.article_li{
    list-style:none;
    width: 100%;
    padding: 0px 29px 24px 31px;
  background-color: #f6f6f6;
  max-width: 306px;
  float: left;
  margin-bottom: 80px;
  margin-right: 16px;
}

.thegrid{
    // display: grid;
    // grid-template-columns: 306px 306px 306px;
    // grid-gap: 78px;
    //grid-template-rows: 305px 305px 305px;  
}

.article_title h3{
    font-family: CFAstyPro;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  color:#222222;
}

.article_date{
    font-family: CFAstyPro;
  font-size: 12.8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.16px;
  color: #548687;
}

.img_wrap{
    height: 145px;
}

.article_image img{
    position: absolute;
    top: -64px;
}

.mytabls_menu{
    margin-bottom: 145px;
}

#searchButton{
    border: none;
    background:transparent;
}

.ReactModal__Content.ReactModal__Content--after-open{
display: flex;
height: 40px;
}

.myinputs{
    width: 100%;
}

.donationmodal{
   height: 100vh!important;
   display: block!important; 

   .myinputs{
       margin-top: 25px!important;
       height: 40px;
       max-width: 80%;
       margin:auto;
       display: block;
   }
}

#donationclose{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background:transparent;
    font-size: 24px;
}

.centeredDon{
    text-align: center;
    margin-top: 25px;
}

// --- media queries --- //

@media screen and (max-width:1366px){
    .logo{
        width: 106px;
        height:160px;
    }

    .title_wrapper{
        display: block;
        text-align: left;
    }
}

@media screen and (max-width:768px){

    .thegrid{
        padding:0;
    }

    .article_li{
        padding: 0!important;
        float: unset!important;
        margin:auto!important;
        display:block!important;
        margin-bottom: 80px!important;
    }
}

@media screen and (max-width:767px){
    .mytabls_menu a h2{
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .static_header{
        padding-right: 0;
        padding-left: 0;
    }
    .donation{
        display: none!important;
    } 

    .article_li{

        img{
            max-width: 240px!important;
        }
    }
}

//-- Mobile Menu
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 
 
 #menuToggle
 {
   display: block;
   position: relative;
  
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }